@import 'scss/variables';

.kip-qr-codes {

	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;	

	.kip-qr-code {
		margin-bottom: 40px;
	}

}

@media print {

	.kip-navbar {
		display: none;
	}


	.kip-qr-codes {

		display: block;
		text-align: center;

		.kip-qr-code {
			display: inline-block;
			page-break-inside: avoid;
			break-inside: avoid;
			margin: 12px;
			padding: 24px;
			border: 1px solid #aaa;
		}

	}
}

