@import '~scss/variables';

.kip-with-sidebar {
    display: flex;

    &__sidebar {
        @media (min-width: $kip-desktop) {
            width: 64px;
        }
    }

    &__content {
        width: 100%;
        margin: map-get($kip-space, lg) map-get($kip-space, lg) map-get($kip-space, lg);
        max-width: calc(100% - 64px);

        @media (min-width: $kip-desktop) {
            max-width: calc(100% - 128px);
        }

        .bulma-container {
            margin: 0 auto;
        }
    }
}
